.form {
  text-align: center;
}
input[type="text"] {
  width: 900px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px black;
  font-family: Book Antiqua;
}
#text {
  position: relative;
  left: 50%;
  margin-left: -450px;
  width: 900px;
  height: 100px;
  text-align: center;
  padding: 20px;
  font-size: 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px black;
  font-family: Book Antiqua;
  background: white;
  color: gray;
  text-shadow: none;
  overflow: hidden;
}
.favcolor {
  width: 100px;
  height: 50px;
  padding: 10px 20px;
  position: relative;
  left: 50%;
  margin-left: -50px;
  margin-top: 4px;
  border: none;
  display: block;
  background: #06c;
  box-shadow: 1px 1px 5px black;
}
.favcolor:hover {
  background: #17d;
  transition-duration: 0.5s;
}
.button {
  width: 200px;
  height: 50px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  margin-top: 4px;
  background: #06c;
  box-shadow: 1px 1px 5px black;
}
.button button {
  border: none;
  background: none;
  color: white;
  width: 98px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  display: inline;
}
.button button:hover {
  background: #17d;
  transition-duration: 0.5s;
}
